<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<config>
		<add key="repositoryPath" value="D:\Projets\Packages" />
		<solution>
			<add key="disableSourceControlIntegration" value="true" />
		</solution>
		<packageRestore>
			<add key="enabled" value="true" />
			<add key="automatic" value="true" />
		</packageRestore>
		<packageSources>
			<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
			<add key="lectra.com" value="http://repository-artifactory.lectra.com/artifactory/api/nuget/nuget" />
			<add key="Test Source" value="D:\Projets\Packages" />
		</packageSources>
	</config>
</configuration>